/* Write your CSS here */
.bg_container {
  background-color: #ffc2a0;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Todos-container {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;

  width: 50%;
}
.todo-heading {
  color: #ff8542;
  text-align: center;
}
@media screen and (max-width: 565px) {
  .Todos-container {
    width: 100%;
  }
}

.todo-items-container {
  background-color: #ffffff;
  border-radius: 15px;
  flex-grow: 1;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  height: 40px;
}

.input {
  width: 350px;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
}

*:focus {
  outline: none;
}

.add-btn {
  font-size: 15px;
  font-family: 'Roboto';
  border: none;
  cursor: pointer;
  outline: none;
  background-color: blue;
  color: white;
  height: 38px;
  border-radius: 7px;
  margin-left: 10px;
}
